doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/bs/css/bootstrap.min.css")
  body
    block content
    script(src="/jq/jquery.js")
    script(src="/bs/js/bootstrap.min.js")
